{% extends 'store/main.html' %}
{% load static %}
{% block content %}

<head>
<link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}>
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
</head>
{% if products %}
<h1 style="position:relative; float:left;">Shopping Cart</h1>
<div class="container pb-3 mb-1" style="max-width:800px; margin-bottom:50px;">

    <!-- Cart Item-->
    <form method="POST" action="">
    {% csrf_token %}
    {% for product in products %}
    <div class="cart-item d-md-flex justify-content-between"><span class="remove-item"><i class="fa fa-times"></i></span>
        <div class="px-3 my-3">
            <a class="cart-item-product" href="{% url 'product' product.id %}">
                <div class="cart-item-product-thumb"><img src="{{product.avatar.url}}" alt="Product"></div>
                <div class="cart-item-product-info">
                    <h4 class="cart-item-product-info" style="color:black;">{{product.name}}</h4><span><strong>Color: </strong>{{product.colour}}</span>
                </div>
            </a>
        </div>
        <div class="px-3 my-3 text-center">
            <div class="cart-item-label">Quantity</div>
            <div class="count-input">
                <input type="number" value="{{product.order}}" class="form-control" name="{{product}}"/>
            </div>
        </div>
        <div class="px-3 my-3 text-center">
            <div class="cart-item-label">Total</div><span class="text-xl font-weight-medium">${{product.total}}</span>
        </div>
        <div class="px-3 my-3 text-center">
            <div class="cart-item-label">Discount</div><span class="text-xl font-weight-medium">${{product.discount}}</span>
        </div>
    </div>
    <hr>
    {% endfor %}
    <!-- Coupon + Subtotal-->
        <div class="py-2" style="position:relative; right:-300px;" ><h5>Subtotal:</h5>
        <span class="d-inline-block align-middle text-xl font-weight-medium">${{total}}</span></div>
    </div>
    <!-- Buttons-->
    <hr class="my-2">
    <div class="row pt-3 pb-5 mb-2">
        <div class="col-sm-6 mb-3"><input type ="submit" class="btn btn-style-3 btn-block btn-secondary" value="Update Cart"  style="position:relative; right:-400px;"/></div>
        <div class="col-sm-6 mb-3"><a class="btn btn-style-1 btn-primary btn-block" href="{% url 'checkout' %}"><i class="fe-icon-credit-card"></i>&nbsp;Continue to Checkout</a></div>
        </form>
    </div>

       
    </div>
</div>
      {% else %}

    			 <div class="row">
					<div class="col-md-12">
							<div class="cards">
						<div class="card-header">
						</div>
						<div class="card-body cart">
								<div class="col-sm-12 empty-cart-cls text-center">
									<img src="{{product.avatar.url}}" width="130" height="130" class="img-fluid mb-4 mr-3">
									<h3><strong>Your have no item on your cart</strong></h3>
									<h4>It's time to go shopping</h4>
                   <a href="{% url 'store' %}"> <button type="button" class="btn btn-lg btn-default md-btn-flat mt-2 mr-3" href="{% url 'store' %}">Back to shopping</button> </a>
								</div>
						</div>
				</div>
					</div>
				 </div>
				
    {% endif %}
  </div>
{% endblock %}