{% extends 'store/main.html' %}
{% load static %}
{% block content %}


{% if products %}
<h2 style="position:relative; right:-50px;">Shopping Cart</h2>
<div class="container pb-3 mb-1" style="max-width:700px; margin-bottom:50px;">

    <!-- Cart Item-->
    <form method="POST" action="">
    {% csrf_token %}
    {% for product in products %}
    <div class="cart-item d-md-flex justify-content-between">
        <div class="px-3 my-3">
            <a class="cart-item-product" href="{% url 'product' product.id %}">
                <div class="cart-item-product-thumb"><img src="{{product.avatar.url}}" alt="Product"></div>
                <div class="cart-item-product-info">
                    <h4 class="cart-item-product-info" style="color:black;">{{product.name}}</h4><span><strong>Color: </strong>{{product.colour}}</span>
                </div>
            </a>
        </div>
        <div class="px-4 my-3 text-center">
            <div class="cart-item-label">Quantity</div>
            <div class="count-input">
                <input type="number" value="{{product.order}}" min=1 class="form-control" name="{{product}}"/>
            </div>
        </div>
        <div class="px-4 my-3 text-center">
            <div class="cart-item-label">Total</div><span class="text-xl font-weight-medium">${{product.total}}</span>
        </div>
        <div class="px-4 my-3 text-center">
            <div class="cart-item-label">Discount</div><span class="text-xl font-weight-medium">${{product.discount}}</span>
        </div>
        <div class="px-4 my-3 text-center">
            <div class="cart-item-label"><button type="submit" >&#x2718;</button></div>
        </div>
    </div>
    <hr>
    {% endfor %}
    <!-- Coupon + Subtotal-->
        <div class="py-2" style="position:relative; right:-310px; margin-bottom:0px;" ><h5>Subtotal:</h5>
        <strong class="d-inline-block align-middle font-weight-heavy">${{total}}</strong></div>
        <input type ="submit" class="btn btn-style-1 
        btn-block btn-primary" value="Update Cart" 
        style="position:relative; right:-300px;"/>
    </div>
    <!-- Buttons-->
    <hr>
    <div class="row pt-3 pb-5 mb-2">
        <div class="col-sm-6 mb-3">
            <div class="col-sm-6 mb-3" style="position:relative; right:-600px;">
                <a class="btn btn-style-1 btn-secondary " href="{% url 'checkout' %}">
                    <i class="btn btn-outline-success my-2 my-sm-0"></i>&nbsp;Continue to Checkout</a>
                </div>
        </div>
    </div>
  
    </form>
       
    </div>
</div>
      {% else %}

    			 <div class="row">
					< class="col-md-12">
							<div class="cards">
						<div class="card-header">
						</div>
						<div class="card-body cart">
								<div class="col-sm-12 empty-cart-cls text-center">
									<img src="{{product.avatar.url}}" width="130" height="130" class="img-fluid mb-4 mr-3">
									<h3><strong>Your have no item on your cart</strong></h3>
									<h4>It's time to go shopping</h4>
                   <a href="{% url 'store' %}"> <button type="button" class="btn btn-lg btn-default md-btn-flat mt-2 mr-3" href="{% url 'store' %}">Back to shopping</button> </a>
								</div>
						</div>
				</div>
				
    {% endif %}
{% endblock %}