{% block content %}
	
{% endblock %}
<!DOCTYPE html>
<div class="page">
 
</div>
<section class="deneb_cta">
	<div class="container">
		<div class="cta_wrapper">
			<div class="row align-items-center">
				<div class="col-lg-7">
					<div class="cta_content">
						<h3>What Problems Are You Facing?</h3>
						<p>At <strong>Freedom WebServices</strong>, we do have a range of quality services that we can render to our clients.</p>
					</div>
				</div>
				<div class="col-lg-5">
					<div class="button_box">
						<a href="#" class="btn btn-warning">Hire Us</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

<footer class="deneb_footer">
	<div class="widget_wrapper" style="background-image: url(http://demo.tortoizthemes.com/deneb-html/deneb-ltr/assets/images/footer_bg.png);">
		<div class="container">
			<div class="row">
				<div class="col-lg-4 col-md-6 col-12">
					<div class="widget widegt_about">
						<div class="widget_title">
							<img src="assets/images/logo_1.png" class="img-fluid" alt="">
						</div>
					<p>To have a run-through of the kinds of software we can build, including a shopping website like this, we have provided our links for contact below.</p>
						<ul class="social">
							<li><a href="https://twitter.com/freedom_praise"><i class="fab fa-twitter"></i></a></li>
							<li><a href="https://github.com/freedompraise"><i class="fab fa-github"></i></a></li>
						<li><a href="https://www.linkedin.com/in/praise-dike"><i class="fab fa-linkedin"></i></a></li>
						</ul>
					</div>
				</div>
				<div class="col-lg-4 col-md-6 col-sm-12">
					<div class="widget widget_link">
						<div class="widget_title">
							<h4>Links</h4>
						</div>
						<ul>
							<li><a href="linkfree.io/freedompraise">About Us</a></li>
							<li><a href="https://sites.google.com/view/praisedike/project-page">Services</a></li>
							<li><a href="https://sites.google.com/view/praisedike">Portfolio</a></li>
							<li><a href="https://hashnode.com/@freedompraise">Blog</a></li>
						</ul>
					</div>
				</div>
				<div class="col-lg-4 col-md-6 col-sm-12">
					<div class="widget widget_contact">
						<div class="widget_title">
							<h4>Contact Us</h4>
						</div>
						<div class="contact_info">
							<div class="single_info">
								<div class="icon">
									<i class="fas fa-phone-alt"></i>
								</div>
								<div class="info">
									<p><a href="tel:+2349037860800">+234 903-786-0800</a></p>
								</div>
							</div>
							<div class="single_info">
								<div class="icon">
									<i class="fas fa-envelope"></i>
								</div>
								<div class="info">
									<p><a href="mailto:dikepraise119@gmail.com">dikepraise119@gmail.com</a></p>
								</div>
							</div>
							<div class="single_info">
								<div class="icon">
									<i class="fas fa-map-marker-alt"></i>
								</div>
								<div class="info">
									<p>40, 19th Street, Ugbowo,<span>Benin City.</span></p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</footer>
</html>