
{% load static %}

<!DOCTYPE html>
<html>
    {% block extrahead %}
  <head>
    <title>Login | Cleanser-stores</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/register.css' %}">
    <link rel="stylesheet" href="https://kit.fontawesome.com/50e0af0f47.css" crossorigin="anonymous">
    {% endblock extrahead %}
  </head>

  {% block content %}
  <body>
    <form class="signup-form" method="POST">
      {% if user.is_authenticated %}
      <h4>You are already logged in. Redirecting to home page in 5 seconds...</h4>
    </div>
    <script>
      setTimeout(function() {
        window.location.href = "{% url 'store' %}";
      }, 5000);
    </script>
  {% else %}
    <p class="bg-white">Not signed up yet? <a href="{% url 'register' %}">Register here.</a></p>
    {% endif %}

      {% if messages %}
      <div class="alert alert-danger" role="alert" style="display: inline-block;">
          {% for message in messages %}
              {{ message }}
          {% endfor %}
      </div>
  {% endif %}
      
      {% csrf_token %}
      <h2>Login to Continue Your Shopping</h2>
      <div class="form-group">
        <label for="id_username">Username</label>
        <input type="text" id="id_username" name="username" required>
      </div>
      <div class="form-group">
        <label for="id_password">Password</label>
        <input type="password" id="id_password" name="password" required>
        <input type="checkbox" onclick="showPassword()">
      </div>
      <div class="form-group">
        <button type="submit">Login</button>
      </div>
    </form>
  </body>
</html>

<script>
    function showPassword() {
      var passwordInput = document.getElementById("password");
      if (passwordInput.type === "password") {
        passwordInput.type = "text";
      } else {
        passwordInput.type = "password";
      }
    }
  </script>

{% endblock %}
    </div> 