{% load static %}
<html>
<head>
  <title>Cleanser Stores</title>
  <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
</head>

<body>
<div class="container bootstrap snippets bootdey">
    <div class="row login-page"> 
        <div class="col-md-4 col-lg-4 col-md-offset-4 col-lg-offset-4"> 

          {% if messages %}
          <ul class="messages">
            {% for message in messages %}
              <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
            {% endfor %}
          </ul>
        {% endif %} 

          
            <form method="post" action="{% url 'login' %}">
              <h2>Login to ShopCleaner.com</h2> 
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class="btn btn-primary">Log in</button>
            <article class="register ">
              <p class="">Haven't signed up yet? <a href="{% url 'register' %}">Register</a></p>
              </article>
          </form>
            
    	</div> 
    </div>
</div>
</body>
</html>