{% extends 'store/main.html' %}
{% load static %}

{% block extrahead %}
<title>Payments - Cleanser-stores</title>
<link rel="stylesheet" type="text/css" href="{% static 'css/payment.css' %}">
{% endblock extrahead %}

{% block content %}
<body>

    <div class="container">

        {% if error_message %}
        <div class="alert alert-danger" role="alert">
            {{ error_message }}
        </div>
        {% endif %}

        <div class="jumbotron my-5 text-center">
            <h1 class="display-4">Pay with PayPal</h1>
            <hr class="my-4">
           
                {{ form.render }}
               
        </div>

    </div>

</body>
{% endblock content %}
