{% extends 'store/main.html' %}
{% load static %}
{% block content %}
  <head>
    <title>Online Shopping Store</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/product.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  </head>

  <div class="product-page aws-theme">
    <img src="{{product.avatar.url}}" alt="Product avatar" class="product-avatar">
    <h1 class="product-name">{{product}}</h1>
    <p class="product-price">${{product.price}}</p>
    <div class="product-rating">
      <i class="fa fa-star"></i>
      <i class="fa fa-star"></i>
      <i class="fa fa-star"></i>
      <i class="fa fa-star"></i>
      <i class="fa fa-star"></i>
    </div>
    <p class="product-description">{{product.description}}</p>
    <form class="product-form" method = "POST">
        {% csrf_token %}
      <label for="product-quantity">Quantity:</label>
      <input type="number" id="product-quantity" value="{{product.order}}" min="1">
      <button type="submit" class="btn btn-primary facebook-theme">Add to Cart</button>
    </form>
  </div>
{% endblock %}
