{% extends 'store/main.html' %}
{% load static %}
{% block content %}

<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
    </head>
    <!------ Include the above in your HEAD tag ---------->
        <body >
            <div class="container">
                <div class="row">
                   <div class="col-xs-4 item-photo">
                        <img style="width:300px;" src="{{product.avatar.url}}" />
                    </div>
                    <div class="col-xs-5" style="border:0px solid gray">
                        <!-- Datos del vendedor y titulo del producto -->
                        <h3>{{product}}</h3>    
                        <h5 style="color:#337ab7">{{product.description}}</h5>
            
                        <!-- Precios -->
                        <div style="margin-top:20px; margin-bottom:20px;">
                        <h5 class="title-price" style="margin-bottom:3px;">PRICE</h5>

                        <h3 style="margin:auto;">$ <span>{{discount}}</span>     <small><s style="color:#D4AF37;">{{product.price}}</s></small>
                        </h3>    
            </div>

                <div style="margin-top:20px; margin-bottom:20px;">
                        <h5 class="title-price" style="margin-bottom:3px;">COLOR
                         <h3 style="margin-top:0px;">{{product.colour}}</h3> 
                        </h5>
                        </div>

                          <div style="margin-top:20px; margin-bottom:20px;">
                        <h5 class="title-price" style="margin-bottom:3px;">RATING
                         <h3 style="margin:auto;">{{product.rating}}/5</h3> 
                        </h5>
                        </div>
                        <!-- Detalles especificos del producto -->
                    <form method="POST" action="">
                    {% csrf_token %}
                         <div style="margin-top:20px; margin-bottom:20px;">
                        <h5 class="title-price" style="margin-bottom:3px;">QUANTITY
                        </h5>
                        <input type="number" value="{{product.order}}" name="quantity" min=1/>
                        </div>            
            
                        <!-- Botones de compra -->
                        <div class="section" style="padding-bottom:20px;">
                            <button class="btn btn-success"><span style="margin-right:10px" 
                            class="glyphicon glyphicon-shopping-cart" aria-hidden="true" 
                            type="submit" name="quantity" ></span>Add to cart</button>
                            </form>
                            <h6><a href="#"><span class="glyphicon glyphicon-heart-empty" style="cursor:pointer;"></span> Add to wish list</a></h6>
                        </div>                                        
                    </div>                              
                    
            </div>        
        </body>
    </html>
    
{% endblock %}