{% load static %}
{% block content %}
<head>
    <title>Cleanser Stores</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
  </head>
<div class="row login-page"> 
    <div class="col-md-4 col-lg-4 col-md-offset-4 col-lg-offset-4"> 
        <div class= "form-container">
             <img src="{% static 'images/cart.jpg' %}" class="cart-image"> 
        <form method="post">
            <h2> Welcome to ShopCleaner.com</h2> 
            <h3>Register</h3>
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class="btn btn-primary">Sign Up</button>
            
        <article class="register ">
            <p class="">Already Registered? <a href="{% url 'login' %}">Login</a></p>
            </article>
        </form>
    </div>
    </div> 
</div>
{% endblock %}