{% extends 'store/main.html' %}
{% load static %}
{% block content %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.1/css/all.min.css" integrity="sha256-2XFplPlrFClt0bIdPgpz8H7ojnk10H69xRqd9+uTShA=" crossorigin="anonymous" />

<section>
    <div class="container">
        <div class="row">
         {% for product in all %}
            <div class="col-sm-6 col-lg-3 mb-2-6">
                <div class="card-wrapper mb-4">
                    <a href="{% url 'product' product.id %}">
                    <div class="card-img"><img src="{{product.avatar.url}}" alt="..."/></div>
                    <div class="card-body">
                        <div>
                        <i class="bg-white p-3 rounded-circle ti-shopping-cart font-weight-600"></i></a>
                        </div>
                    </div>
                </div>
                <div class="text-center">
                    <h4 class="h5 mb-2"><a href="{% url 'product' product.id %}" class="text-secondary">{{product}}</a></h4>
                    <div class="product-rating mb-2">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star mr-0"></i>
                    </div>
                    <h5 class="mb-0 text-primary">${{product.price}}</h5>
                </div>
            </div>
        {% endfor %}
        {% include 'store/footer.html' %}
</section>
{% endblock %}
