@import url(http://fonts.googleapis.com/css?family=Roboto:400);
body{
    margin-top:20px;
}
.login-page {
    margin:auto;
    width:400px;
    overflow: auto;
    background: yellow;
    text-align: center;
    color: #000;
    padding: 3em;
}

@font-face {
  font-family: myFont;
  src: url(sansation_light.woff);
}
@font-face {
  font-family: myFont;
  src: url(sansation_bold.woff);
  font-weight: bold;
}

.user-avatar {
    width: 125px;
    height: 125px;
}

.login-page h1 {
    font-weight: 300;
    font-family:myFont;
}

.login-page .form-content {
    padding: 40px 0;
}

.login-page .form-content .input-underline {
    background: 0 0;
    border: none;
    box-shadow: none;
    border-bottom: 2px solid rgba(255,255,255,.4);
    color: black;
    border-radius: 0;
}
.login-page .form-content .input-underline:focus {
    border-bottom: 2px solid #000;
}    

.input-lg {
    height: 46px;
    padding: 10px 16px;
    font-size: 18px;
    line-height: 1.3333333;
    border-radius: 0;
}


input[type='text']::-webkit-input-placeholder, input[type='password']::-webkit-input-placeholder { 
    color:    #000;
}
input[type='text']:-moz-placeholder, input[type='password']:-moz-placeholder { 
    color:    #000;
}
input[type='text']::-moz-placeholder, input[type='password']::-moz-placeholder { 
    color:    #000;
}
input[type='text']:-ms-input-placeholder, input[type='password']:-ms-input-placeholder { 
    color:    #000;
}



.btn h4,.form-control,.panel,.list-group,.well {box-shadow:0 0 0; margin:2px;}
.form-control {border-color:black;}
.btn-primary {border-color:white;
                width:200px;
            }
.label-primary,.list-group-item.active, .list-group-item.active:hover, .list-group-item.active:focus {background-color:light yellow;}

.register{
    display:flex;
    margin:auto;
    position:relative;
    right:-70px;
}
.register a{
    position:relative;
    right:-50px;
}
